@import url('https://fonts.googleapis.com/css2?family=Abel&family=Dosis:wght@200;700&family=Kanit:ital,wght@0,100;0,700;1,300&family=Lobster&family=Orbitron:wght@400;700&family=Play:wght@400;700&family=Raleway:wght@100;300;700&family=Righteous&family=Roboto+Condensed:ital,wght@0,300;0,700;1,300&family=Teko:wght@300;700&family=Titillium+Web:wght@200;300;700&display=swap');
*{
  /* font-family: 'Abel', sans-serif; */
  /* font-family: 'Dosis', sans-serif; */
  /* font-family: 'Kanit', sans-serif; */
  /* font-family: 'Lobster', cursive; */
  /* font-family: 'Orbitron', sans-serif; */
  /* font-family: 'Play', sans-serif; */
  /* font-family: 'Raleway', sans-serif; */
  /* font-family: 'Righteous', cursive; */
  /* font-family: 'Roboto Condensed', sans-serif; */
  /* font-family: 'Teko', sans-serif; */
  font-family: 'Titillium Web', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  transition: all .2s linear;
}
body{
  animation: fadeInLeft 1s linear;
  /* background-color:#f2f2f2; */
}
/* .main{
  background-color:gainsboro;
  color: #fff;
} */
header{
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #f0c14b; */
  border-bottom: 1px solid gainsboro;
}
.navbar{
  width: 95%;
  /* height: 90%; */
  display: flex;
  border-radius: 1rem;
}
.navbar--left{
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid coral; */
}
.navbar--logo{
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid coral; */
}
.navbar--logo img{
  width: 100%;
  height: 100%;
}
h5 , h1 , h2,h3,h4,h6,p{
  text-decoration: none;
  margin-bottom: 0 !important;
}
span{
  color: #f0c14b;
  font-weight: bold;
}
.navbar--center{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid coral; */
}
.navbar--center--content{
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid coral; */
  width: 100%;
}
.navbar--right{
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* border: 1px solid coral; */
}
.btn__login{
  background-color: #d8a765;
  padding: 0.5rem;
  color: white;
  border-radius: 0.5rem;
}
.header__bar{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(15, 52, 90);
  /* border: 1px solid coral; */
}

.header__bar__content{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid coral; */
}
.liste{
  text-decoration: none;
  color: rgb(15, 52, 90);
  font-size: 1rem;
  font-weight: bold;
}
.liste:hover{
  color: #d8a765;
}
.liste > i{
  font-size: 1rem;
}
.main--part--container{
  width: 100%;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  border: 1px solid gainsboro;
}
.header__title{
  font-size: 2.5rem;
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
}
.container__todolist__header{
  width: 100%;
  padding: 0.5rem;
  margin: 1rem 0;
  /* border: 1px solid coral; */
}
.btn__block{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid coral; */
}
.btn__add{
  width: 200px;
padding: 0.5rem;
background-color:#d8a765;
color: white;
border-radius: 0.5rem;
margin: 0 0.5rem;
}
.btn__modify{
  width: 200px;
  padding: 0.5rem;
  background-color:#d8a765;
  color: white;
  border-radius: 0.5rem;
  margin: 0 0.5rem;
}
.container__todolist{
  width: 100%;
  /* height: 200px; */
  margin: 1rem 0;
  /* border: 1px solid coral; */
}
.todolist__content{
  width: 100%;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: 3px solid black;
}
.todolist__first__part{
  width: 85%;
  height: 100px;
  padding: 0.7rem;
  /* border: 1px solid coral; */
}
.date{
  margin-top: 0.5rem;
}
.todolist__second__part{
  width: 15%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid goldenrod; */
}
.second__part__content{
  width: 60%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* border: 1px solid goldenrod; */
  font-size: 1.5rem;
  cursor: pointer;
  color: rgb(12, 52, 103);
}
.container__filter__todolist{
width: 100%;
height: 70px;
display: flex;
align-items: center;
justify-content: center;
/* border: 1px solid coral; */
}
.container__filter__todolist__left{
  width: 50%;
  height:100%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* border: 1px solid coral; */
}
.btn__filter{
  padding: 0.7rem;
  font-weight: bold;
  border-radius: 0.5rem;
  margin: 0 0.7rem;
}
.container__filter__todolist__right{
  width: 50%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: end;
  /* border: 1px solid coral; */
}

.footer{
  width: 100%;
  padding: 10px 170px;
  /* background-color:rgb(12, 52, 103); */
  color: rgb(12, 52, 103);
  font-weight: bold;
  background-color: rgb(245, 242, 242);
}
.footer__title{
  font-weight: bold;
}
.foot--content{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:space-around;
  border-top: 5px solid coral;
}
.schedule{
  height: 200px;
  margin-bottom: 1rem;
  text-align: center;
}
.address{
  height: 200px;
  text-align: center;
  margin-bottom: 1rem;
}
.social--media{
  height: 200px;
  text-align: center;
  cursor: pointer;
}
.social--media i{
  padding-top: 0.3rem ;
  padding-right: 0.3rem;
  font-size: 1.3rem;
}
.name--developer{
  width: 100%;
  text-align: end;
}
.right{
  width: 100%;
  text-align: center;
}
.sidebar{
  position: fixed;
  left:-2000px;
  top: 0;
  width:300px;
  height: 100vh;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  transition: ease-in-out .7s;
  justify-content: center;
  background-color:white;
  /* box-shadow: 0px 0px 9px 5px black; */
  z-index: 10000;
}
.show-sidebar{
  left:0;
  transition: ease-in .7s;
  /* transform: translate(-100vw); */
}

.sidebar--menu {
  width: 90%;
  height: 90%;
  display: block;
  text-align: center ;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.sidebar--menu > p{
  padding: 1rem;
}
.btn--close--sidebar{
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.5rem;
}
.logo--resp{
  display: none;
}
.icons{
  display: none;
}


@media only screen and (max-width:575px){
  header{
    height: 100px;
  }
  .navbar--left{
    width: 40%;
    display: flex;
    justify-content: start;
    font-size: 1.2rem;
    cursor: pointer;
    color:rgb(15, 52, 90);
  }
  .navbar--center{
    display: none;
  }
  .navbar--center--content{
   display: none;
  }
  .navbar--right{
    width: 50%;
    display: block;
    /* border: 1px solid coral; */
  }
  .title{
    font-size: 1rem;
  }
  .header__title{
    font-size: 1rem;
  }
  .description{
    font-size: 0.9rem;
  }
  .container__filter__todolist{
    width: 100%;
    height: auto;
    padding: 0.5rem;
    display: block;

    }
    .container__filter__todolist__left{
      width: 100%;
      justify-content: center;
      margin-bottom: 1rem;
      /* border: 1px solid coral; */
    }
    .container__filter__todolist__right{
      width: 100%;
      justify-content: center;
    }
    input[type=email]{
      width: 100%;
    }
  .todolist__first__part{
    width: 75%;
  }
  .date{
    margin-top: 0.5rem;
  }
  .todolist__second__part{
    width: 25%;
  }
  .second__part__content{
    width: 100%;
    font-size: 1.1rem;
  }
.footer{
  width: 100%;
  padding: 0;
}
.foot--content{
  display: block;
}


}
@media only screen and (min-width:576px) and (max-width:766px){
.navbar--right--content{
    display: none;
  }
  .navbar--left{
    width: 30%;
    cursor: pointer;
  }
  .navbar--right{
    width: 70%;
    justify-content: end;
  }
  .slogan{
    top: 30%;
  }
  .slogan > p{
    font-size: 1.5rem;
  }
  h2{
    font-size: 1.5rem;
    color: #d8a765;
  }
  h3{
    font-size: 1rem;
    margin-bottom: 10px;
    color: #000;
  }





footer{
  width: 100%;
  height: auto;
  padding: 0;
  font-size: 0.8rem;
}
}
@media only screen and (min-width:767px) and (max-width:1086px){

  .navbar--right--content{
    display: flex;
  }
  .card__mb{
    width: 220px;
    font-size: 0.8rem;
  }
  .more--details{
    width: 150px;
    padding: 0.3rem;
    border-radius: 0.5rem;
  }
  .project--pictures--box{
    width: 550px;
    height: 390px;
    border-radius: 0.3rem;
    animation: fadeInUp 2s linear;
  }
  .slogan{
    top: 30%;
  }
  .slogan > p{
    font-size: 1.5rem;
  }
 .container{
  padding: 0;
}
.row{
 display: block;
}
.cards{
  width: 45%;
  padding: 10px;
}
.description--enterprise{
  width: 100%;
  padding: 2rem;
  display: block;
  background-color: rgb(245, 240, 240);
}
.description--enterprise--content--left{
  width: 100%;
  padding:0;
}
.description--enterprise--content--right{
  width: 100%;
}
.question--part{
  height: 40vh;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
}
.question--part--content{
  padding: 0;
}
.main--contact{
  width: 100%;
  height: auto;
  display: block;
}
.main--contact--content{
  width: 100%;
  height: 90%;
  display: block;
}
.main--contact--content--right{
  width: 100%;
}
.main--contact--content--left{
  width: 100%;
}
.container--home{
  display: block;
}
.container--home--left--part{
  width: 100%;
}
.container--home--left--part--content{
  width: 95%;
  height: 95%;
}
.container--home--left--part--content--image{
  width: 100%;
}
.container--home--left--part--content--image--box{
  width: 300px;
  height: 300px;
}

.images--container--box{
  width: 380px;
  height: 190px;
}
.project--pictures{
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer{
  width: 100%;
  height: auto;
  padding: 0;
  font-size: 0.8rem;
}
}